---
import LineNumber from '@/components/LineNumber.astro';
import LineContent from '@/components/LineContent.astro';
import HtmlTag from '@/components/HtmlTag.astro';
import NBSP from '@/components/NBSP.astro';
import LineGutterBackdrop from '@/components/LineGutterBackdrop.astro';
import HtmlDoctype from '@/components/HtmlDoctype.astro';
import '@/css/app.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="bla bla bla" />
    <title>ksuzushima</title>
  </head>
  <body>
    <LineGutterBackdrop />
    <table>
      <tbody>
        <tr>
          <LineNumber />
          <LineContent>
            <HtmlDoctype />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <HtmlTag tag="html" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <NBSP />
            <HtmlTag tag="head" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <NBSP />
            <NBSP />
            <HtmlTag tag="title" />
            <span>ksuzushima.github.io</span>
            <HtmlTag tag="/title" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <NBSP />
            <HtmlTag tag="/head" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <NBSP />
            <HtmlTag tag="body" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <NBSP />
            <NBSP />
            <HtmlTag tag="h1" />
            <span>Forbidden</span>
            <HtmlTag tag="/h1" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <NBSP />
            <NBSP />
            <HtmlTag tag="p" />
            <span>You don't have permission to access.</span>
            <HtmlTag
              tag="a"
              attributes={{ href: 'https://github.com/ksuzushima' }}
            />
            <a href="https://github.com/ksuzushima">Bye</a>
            <HtmlTag tag="/a" />
            <HtmlTag tag="/p" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <NBSP />
            <HtmlTag tag="/body" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <HtmlTag tag="/html" />
          </LineContent>
        </tr>
        <tr>
          <LineNumber />
          <LineContent>
            <span></span>
          </LineContent>
        </tr>
      </tbody>
    </table>
  </body>
</html>

<script>
  import '@/js/main.ts';
</script>
