<td class="line-content">
  <slot />
</td>

<style>
  .line-content {
    display: flex;
    flex-wrap: wrap;
    vertical-align: inherit;
    vertical-align: baseline;
    padding: 0 5px !important;
  }
</style>
