<div class="line-gutter-backdrop"></div>

<style>
  .line-gutter-backdrop {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    width: 31px;
    background-color: #f0f0f0;
    user-select: none;
    padding: 0 4px !important;
    border-right: 1px solid #bbb !important;
  }
</style>
